* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.off-MC-MR {
  opacity: 0.5;
}
.on-MC-MR {
  opacity: 1;
}

h2 {
  margin-top: 15px;
  text-align: center;
  color: rgb(239, 245, 248);
  text-transform: uppercase;
}

table {
  margin: 100px auto;
  box-shadow: 1px 0 0 1px rgb(247, 245, 245);
  border-collapse: collapse;
  /* background-color: #cecece; */
  border: 1px solid rgb(241, 239, 239) !important;
}
td {
  padding: 8px 26px;
  cursor: pointer;
  text-align: center;
}
.row td {
  background-color: rgb(250, 248, 248);
  border: 1px solid #f0f0f5;
}
.white {
  background-color: white !important;
  font-weight: 700;
}

td:hover {
  background-color: rgb(225, 225, 225);
}
td:active {
  opacity: 0.1;
}
/* Output Container Styling */
th {
  padding: 4px 14px;
}

.output-div {
  width: 100%;
  height: 80px;
  text-align: right;
  background-color: white;
  align-items: center;
}

#calculate_it {
  font-size: 38px;
}

th {
  text-align: left;
}
/* Trigonometry Styling */
.trigonometry {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trigonometry img {
  width: 16px;
}
.trigonometry span {
  font-size: 14px;
}
.trigonometry i {
  font-size: 16px;
}
/* Dropdown Styling */
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(221, 218, 218, 0.2);
  width: 70%;
}
.dropdown-content div {
  padding: 5px 0;
}
.dropdown-content div:hover {
  background-color: rgb(231, 232, 235);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Function Styling */
.function {
  display: flex;
  justify-content: center;
  align-items: center;
}
.function .span1 {
  font-size: 16px;
  font-style: italic;
}
.function .span2 {
  font-size: 14px;
}
.function i {
  font-size: 16px;
}
